@use './../abstracts/mixins' as *;

.icons {
    &_theme {
        font-size: 3rem;
        cursor: pointer;
        background: transparent;
        transition: all 0.2s;
        color: var(--color-primary-light);

        &:hover {
            transform: scale(1.3);
        }
    }

    &_hands {
        font-size: 20rem;
        animation: handsShake 1s infinite;
        opacity: 0.1;
        color: var(--color-green);
        position: absolute;
    }

    &_click {
        font-size: 2rem;
        animation: click 0.3s infinite;
    }

    &_question {
        font-size: 40rem;
        opacity: 0.1;
        color: var(--color-green);
        position: absolute;
        top: -100%;
    }

    &_light {
        font-size: 6rem;
        animation: light 2s infinite;
    }

    &_chart {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.05;
        scale: 2;
        font-size: 30rem;
        animation: chart 5s infinite;
    }

    &_footer {
        font-size: 4rem;
    }
    &_certificate {
        font-size: 4rem;
        opacity: 0.05;
        position: absolute;
        left: 50%;
        animation: certificate 6s infinite;
    }

}