@use './../abstracts/mixins' as *;

.skillbar-root {
    margin-bottom: 1rem;
    width: 80%;
    margin: 0 auto;

    @include respond(tab-land) {
        width: 85%;
    }

    @include respond(tab-port) {
        width: 90%;
    }
}

.skillbar-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: .5rem;

    color: var(--color-primary-light);
}

.skillbar-label {
    color: var(--color-primary-light);
    font-size: 1.8rem;
    font-family: "open-sans";
    font-style: italic;
}

.skillbar-value {
    color: var(--color-primary-light);
    font-family: "KottaOne";
    font-size: 1.5rem;
}

.skillbar-track {
    width: 100%;
    height: 1rem;
    background: var(--color-primary-light);
    border-radius: 1rem;
    overflow: hidden;

    @include respond(phone) {
        height: 2rem;
        border-radius: 0.5rem;
    }
}

.skillbar-fill {
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(90deg,
            var(--color-red-100),
            var(--color-red-200));

    @include respond(phone) {
        border-radius: 0.5rem;
    }

}