@use './../abstracts/mixins' as *;

.skillbar-root {
    margin-bottom: 1rem;
    width: 40vw;
    margin: 0 auto;

    @include respond(phone) {
        width: 70vw;
    }
}

.skillbar-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: .5rem;

    color: var(--color-primary-light);
}

.skillbar-label {
    color: var(--color-primary-light);
    font-size: 1.8rem;
    font-family: "open-sans";
    font-style: italic;
}

.skillbar-value {
    color: var(--color-primary-light);
    font-family: "KottaOne";
    font-size: 1.5rem;
}

.skillbar-track {
    width: 100%;
    height: 1rem;
    background: var(--color-primary-light);
    border-radius: 1rem;
    overflow: hidden;
}

.skillbar-fill {
    height: 100%;
    border-radius: 1rem;
    background: linear-gradient(90deg,
            var(--color-gold),
            var(--color-gold-dark));
}